.m-horizonal-form-set {
  height: 80px;
  &__label_and_input_wrap {
    display: flex;
  }
  &__label {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
    &--auto-width {
      width: auto;
    }
  }
  &__input {
    padding-right: 1rem;
    width: 60%;
    padding: 0;
    &--auto-width {
      width: auto;
    }
  }
  &__discription {
  }
}

.m-form-vertical-set {
  &__label {
    margin-bottom: 8px;
  }
  &__textarea {
  }
  &__select {
  }
}

.m-form-date-hour-min {
  &__date {
    height: 40px;
  }
  &__hour {
    height: 40px;
  }
  &__hour-label {
    height: 40px;
    line-height: 40px;
    font-size: 1.25rem;
  }
  &__min {
    height: 40px;
  }
  &__min-label {
    height: 40px;
    line-height: 40px;
    font-size: 1.25rem;
  }
}
