.m-horizonal-form-set {
  height: 80px;
  // margin-bottom: 3rem;モジュールは、マージンを外に取ってはだめ。
  &__label_and_input_wrap {
    display: flex;
  }
  &__label {
    width: 240px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
  }
  &__input {
    padding-right: 1rem;
    // height: 1.5rem;
  }
  &__discription {
  }
}

.m-form-vertical-set {
  &__label {
    margin-bottom: 8px;
  }
  &__textarea {
  }
  &__select {
  }
}
