.m-question {
  &__image {
    width: 20%;
  }
  &__text {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $blue_4;
    border: solid 1px $blue_1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    &--with-image {
      width: 80%;
    }
  }
  &__note-head {
    margin-top: 1rem;
  }
  &__note {
    padding: 1rem 0.5rem 0.5rem;
  }
}
