$btn_blue: #0066ff;
$red: red;
$gray: #eeeeee;
$navy: #434a54;
$white: #ffffff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38aef0;
$light_gray: #999;
$black: #333333;
$alert_orange: #f35500;
$required: #ff3399;

// Users
$pink_0: #ff366d;
$pink_1: #ff7197;
$pink_2: #ff98b4;
$pink_3: #ffbfd1;
$pink_4: #ffe6ed;

$status_pink: $pink_2;
$status_blue: #98b4ff;
$status_green: #8cff96;
$status_gray: #777777;

// Teachers
$blue_0: #0481f2;
$blue_1: #1f95ff;
$blue_2: #53aeff;
$blue_3: #96cdff;
$blue_4: #d2e9fe;
