$btn_blue: #0066ff;
$red: red;
$gray: #eeeeee;
$navy: #434a54;
$white: #ffffff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38aef0;
$light_gray: #999;
$black: #225499;
$alert_orange: #f35500;
$required: #ff3399;
