$btn_blue: #0066ff;
$red: red;
$gray: #eeeeee;
$navy: #434a54;
$white: #ffffff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38aef0;
$light_gray: #999;
$black: #333333;
$alert_orange: #f35500;
$required: #ff3399;

// Common

$pink_0: #ff366d;
$pink_1: #ff7197;
$pink_2: #ff98b4;
$pink_3: #ffbfd1;
$pink_4: #ffe6ed;

// Users

$green_0: #33cc92;
$green_1: #45e5a9;
$green_2: #6dfcc6;
$green_3: #9ffdda;
$green_4: #cffdec;
$green_5: #ebfff7;

$moss_0: #03120c;
$moss_1: #1f4837;
$moss_2: #3c6958;
$moss_3: #6e9d8a;
$moss_4: #a4c5b7;
$moss_5: #d3eae1;
$moss_6: #f0fff9;

// Teachers
$blue_0: #0481f2;
$blue_1: #1f95ff;
$blue_2: #53aeff;
$blue_3: #96cdff;
$blue_4: #d2e9fe;

$indigo_0: #000910;
$indigo_1: #08233b;
$indigo_2: #1b466b;
$indigo_3: #487ca6;
$indigo_4: #96bde0;
$indigo_5: #cae2f8;
$indigo_6: #f6fbff;

// Unused

$status_pink: $pink_2;
$status_blue: #98b4ff;
$status_green: #8cff96;
$status_gray: #777777;
