.flex-sparo.mb40
  .div
  %h2.mt16.ml16 講座新規作成
  .mt16.ml16= link_to '戻る', teacher_lesson_groups_path, class: 'a-button a-button--secondary'
.flex-sparo
  = render 'form', lesson_group: @lesson_group, submit_word: '登録'
