.m-user_footer {
  padding: 4px 24px;
  border-top: 1px black solid;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $moss_1;
  &__a_tag {
    color: $white_green;
  }
  &__icon {
    text-decoration: none;
    color: $white_green;
    opacity: 1;
    &:hover {
      text-decoration: none;
      color: black;
      opacity: 1;
    }
  }
  &__ele_text {
    text-align: center;
    font-size: 0.25rem;
  }
}

.copyright {
  bottom: 5px;
  text-align: right;
  width: 100vw;
}
