.flex-sparo
  %h2.mt16.ml16= "#{@lesson_group.name}/授業追加"
  .mt16.ml16= link_to '戻る', teacher_lesson_group_lessons_path(@lesson_group), class: 'a-button a-button--secondary'
%hr
.mb32
= render 'form', lesson: @lesson, url: teacher_lesson_group_lessons_path(@lesson_group)
