.o-user-terms
  .o-user-terms__top
    %h1.a-text-large 『Marutsuke』利用上の注意点
  .o-user-terms__body
    .a-text-terms.mb16
      『Marutsuke』を利用する上で、以下の注意点をよく読み、ご利用ください。
    %h2.o-user-terms__headding
      .a-text-primary.a-text-medium 1.課題提出について
    %ul.o-user-terms__ul
      %li.o-user-terms__li.a-text-terms
        ・課題の提出は、ご自身で作成したノート画像や、文章の提出をしてください。アカウントの所有者以外が作成したノートや文章を提出しないでください。
      %li.o-user-terms__li.a-text-terms
        ・先生、講師とのやりとりで、他のサイトのURLを記載したり、メールアドレス、LINEのIDなどを交換することは禁止です。
    %h2.o-user-terms__headding
      .a-text-primary.a-text-medium 2.アカウントについて
    %ul.o-user-terms__ul
      %li.o-user-terms__li.a-text-terms 1.自分のアカウントを他人に操作させてはいけません。
      %li.o-user-terms__li.a-text-terms 2.LINEのアカウントが削除された場合、メールアドレスからアカウントを復元することができます。メールアドレスが登録されていない場合、アカウントを復元することはできません。
