.o-profile
  .o-profile__head
    .m-heading-line
      .m-heading-line__text
        %h1.a-text-secondary.a-text-xlarge 新規登録
  .o-profile__body
    .o-profile__item
      .m-profile-item
        .m-profile-item__submit_button
          .m-profile-item__item= link_to 'LINE新規登録',   sign_up_by_line_line_api_index_path, method: :post, class: 'a-submit-button'
