%nav.navbar.navbar-dark.bg-success
  .container
    .navbar-brand
      %b ログイン
.py-5
  .container
    .row
      .col-md-4
      .col-md-4
        %p このアプリケーションではプロフィール画面にE-mailアドレスを表示するため、LINEに登録されているE-mailを取得します。
        = link_to create_by_line_users_path, method: :post, id: 'line_login_btn' do
          = image_tag ('btn_login_base.png'), art: 'line'
      .col-md-4
%script{:src => "./login.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"}
%script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
