.flex-cen.mt24
  .a-text-secondary.a-text-large ログイン/新規登録
.flex-cen.mt40
  =link_to line_login_authentication_user_authentications_line_authentications_path, method: :post do
    .mt24.m-text-with-line-icon
      .m-text-with-line-icon__image= image_tag 'line_images/iOS/44dp/1x/line_44.png'
      .m-text-with-line-icon__text LINEでログイン
.flex-cen.mt40
  = link_to 'はじめての方はこちら', agreement_confirms_path

