%link{:href => "/assets/favicons/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
%link{:href => "/assets/favicons/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => "/assets/favicons/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
%link{:href => "/assets/favicons/site.webmanifest", :rel => "manifest"}/
%link{:color => "#ef6d29", :href => "/assets/favicons/safari-pinned-tab.svg", :rel => "mask-icon"}/
%meta{:content => "Marutsuke", :name => "apple-mobile-web-app-title"}/
%meta{:content => "Marutsuke", :name => "application-name"}/
%meta{:content => "#da532c", :name => "msapplication-TileColor"}/
%meta{:content => "#ffffff", :name => "theme-color"}/
