.user_footer.flex-sparo
  .user_footer__ele.mr24
    .flex-cen
      = icon('far', 'list-alt fa-3x') # activeは、fas
    %span 講座一覧
  .user_footer__ele.mr24
    .flex-cen
      = icon('far', 'check-circle fa-3x') # activeは、fas
    %span 提出済み
  .user_footer__ele.mrs24
    .flex-cen
      = icon('far', 'times-circle fa-3x') # activeは、fas
    %span 未提出一覧
  .user_footer__ele
    .flex-cen
      = icon('far', 'user fa-3x')
    %span マイページ
