<header>
  <nav class="navbar navbar-light bg-light navbar1">
      <%= link_to root_path, class: "navbar-brand navbar1_a", data: {"turbolinks" => false} do %>
        <%= image_tag("marutsuke.jpeg",class: "img-fluid navbar1_a_img") %>
      <% end %>
    <button class="navbar-toggler navbar1_button" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon navbar1_button_icon"></span>
    </button>
    <div class="collapse navbar-collapse header-menu" id="navbarNav">
      <ul class="navbar-nav header-menu_list">
        <li class="nav-item active">
          <%= link_to '本を追加する', new_book_path, method: :get, class: "nav-link f header-menu_list_a" %>
        </li>
      </ul>
    </div>
  </nav>
</header>