.header_for_user.mb24.mt8
  .admin_user_link.flex.flex-sparo
    =link_to '管理者画面', new_admin_admin_path, class: 'mr16'
    =link_to '教師用画面', new_teacher_teacher_path, class: 'mr16'
    =link_to '教師登録', new_school_path
