.lesson_title
  .lesson_title__term= @lesson.decorate.start_to_end_time
  .lesson_title__teacher= "担当: #{@lesson.teacher.name}"
  .lesson_title__name
    =link_to "#{@lesson.name}" , lesson_path(@lesson)
