.lessons
  .lessons_header.d-flex
    .lessons_header_inner
      .lessons_header_logo
        = link_to root_path do
          = image_tag ('marutsuke_logo_w.png'), art: 'marutsuke'
      .lessons_header_ico
        = link_to '#' do
          = image_tag ('my_w.svg'), alt: 'マイページ'
