.teacher_top {
  height: 100vh;
  padding: 40px;
  &__to_check {
    margin: 40px auto;
    border: solid 1px $indigo_0;
    max-width: 800px;
  }
}
.lessons_to_notify {
  padding: 8px;
  &__title {
    color: $indigo_3;
  }
  &__lesson {
    margin: 8px auto;
    font-size: 21px;
  }
}
