.a-form-label {
  height: 2.5rem;
  line-height: 2.5rem;
  color: $indigo_0;
  margin: 0;
  font-size: 1.25rem;
  &:after {
    content: "(任意)";
    padding-left: 2px;
    color: $indigo_4;
  }
  &.required:after {
    content: "(必須)";
    padding-left: 2px;
    color: $pink_0;
  }
}

.a-form-text-field {
  height: 2.5rem;
  border-radius: 0.25rem;
  padding: 2px;
  font-size: 1.25rem;
  width: 100%;
}

.a-form-date {
  height: 2.5rem;
  border-radius: 0.25rem;
  padding: 2px;
  font-size: 1.25rem;
  width: 100%;
}

.a-form-select {
  height: 2.5rem;
  border-radius: 0.25rem;
  padding: 2px;
  width: 100%;
  font-size: 1.25rem;
  &--narrow {
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 2px;
    width: 240px;
    font-size: 1.25rem;
    width: 80px;
  }
}

.a-form-textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.125rem;
}

.a-form-checkbox {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.125rem;
}

.a-form-checkbox-label {
  height: 2rem;
  line-height: 2rem;
  font-size: 1.25rem;
  margin: 0;
}

.a-form-submit {
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: solid 1px $blue_0;
  background-color: $blue_0;
  color: $indigo_6;
}
