.a-user-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  &--small {
    width: 80px;
    height: 80px;
  }
}
.a-user-no-image {
  background-color: $indigo_6;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  line-height: 120px;
  text-align: center;
  border: 1px solid $indigo_4;
  color: $indigo_4;
  &--small {
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
  }
}
