.o-profile {
  display: flex;
  justify-content: center;
  &__user_image {
    margin-right: 40px;
  }
  &__user_image {
    margin-right: 40px;
  }
  &__content {
  }
  &__element {
    margin: 8px 0;
  }
}
