.o-question-statuses {
  width: 50%;
  &__hedding {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 72px;
    padding: 8px 16px;
    border-bottom: 1px solid $indigo_4;
  }
  &__body {
    height: calc(100vh - 60px);
    overflow: scroll;
  }
}
