.o-question-set {
  display: flex;
  padding: 1rem;
  &__lesson-groups {
    overflow: scroll;
    width: 40%;
    border-right: 1px solid $indigo_4;
  }
  &__lessons {
    width: 60%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-around;
    overflow: scroll;
  }
}
