.o-search-form {
  margin: 0 auto;
  min-width: 600px;
  max-width: 1000px;
  padding: 24px 40px;
  border: 1px solid $indigo_4;
  border-radius: 8px;
  &__title {
    text-align: center;
    font-size: 24px;
  }
  &__label_forms {
    display: flex;
    justify-content: space-around;
  }
  &__button_area {
    display: flex;
    justify-content: flex-end;
  }
}
