<div class="index-lists_list index-lists_list-book" data-book_id = <%= book.id %>>
  <div class="book-inf">
    <%= book.title %></span><br><%=book_correct_count(book)%>
  </div>
  <div class="book-image-index">
  </div>
</div>
