  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= chapter.chapter %></h5>
    </div>
    <ul class="list-group list-group-flush">
      <%chapter.sections.each do |section|%>
      <li class="list-group-item"><%= section.section %></li>
      <% end %>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">節の追加</a>
    </div>
  </div>