<%= render "shared/header" %>
<div class="container main-contain">
  <div class="row main-contain_row">
    <ul class="col-5 main-contain_row_book index-lists animated bounceInDown faster">
      <%= render @books %>
    </ul>
      <ul class="col-4 index-lists main-contain_row_chapter">
      </ul>
    <ul class="col-3 main-contain_row_section index-lists">
    </ul>
  </div>
</div>