<%= render "shared/header" %>
<div class="container main-contain">
  <div class="row main-contain_row">
    <ul class="col-5 main-contain_row_book index-lists">
      <%= render @books %>
    </ul>
    <ul class="col-4 index-lists main-contain_row_chapter">
      <li class="index-lists_list">和差算</li>
      <li class="index-lists_list">つるかめ算</li>
      <li class="index-lists_list">速さの基本</li>
      <li class="index-lists_list">速さの基本発展</li>
    </ul>
    <ul class="col-3 main-contain_row_section index-lists">
      <li class="index-lists_list">
        基本
      </li>
      <li class="index-lists_list">
        練習
      </li>
    </ul>
  </div>
</div>