<%= render "shared/header" %>
<div class="container main-contain">
  <div class="row main-contain_row">
    <ul class="col-5 main-contain_row_book index-lists animated bounceInDown faster">
      <%= render @books %>
    </ul>
      <ul class="col-4 index-lists main-contain_row_chapter">
      <%# 追加するリスト %>
      <%# `<li class="index-lists_list chapter-lists  chapter-lists-mouse  animated bounceInRight faster" data-chapter_id=${chapter.id}>${chapter.chapter}</li><div class=" chapter-lists animated bounceInRight faster" data-book_id=${chapter.book_id}></div>` %>
      </ul>
    <ul class="col-3 main-contain_row_section index-lists">
    <%# 追加するリスト %>
    <%# `<li class="index-lists_list section-lists  animated bounceInRight faster" data-section_id=${section.id}><a href="/chapters/${section.chapter_id}/sections/${section.id}">${section.section}</a> </li>``
    %>
    </ul>
  </div>
</div>