.errors
  .errors__logo
    =image_tag 'marutsuke_logo_b.png', alt: 'marutsuke'
  .errors__container
    .errors__head
      %p システムエラーが発生しました。
    .errors__caption
      %p.errors__caption--status 500 Internal Server Error
