.image-tag{
  width: 100%;
}
.book-image{
  width: 100px;
  height: 100px;
}
.book-image-index{
  width: 100%;
}
.book-edit{
  position: relative;
}
.book-edit-image{
  position: absolute;
  right:38%;
  top: 30%;
}
