.buy-container{
  margin-top: 20px;
  border-radius: 20px;
  &__image{
    width: 100%;
    border-radius: 20px;
  }
  &__title{
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
  }
  &__introduction{
    margin: 5px;
  }
  &__chapter-head{
    font-size: 20px;
  }
  &__chapter{
    font-size: 18px;
  }
}
