.comment_area {
  border: 1px solid #999999;
  &__header {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #eeeeee;
    border-bottom: 1px solid #999999;
    padding: 0 16px;
  }
  &__container {
  }
  &__submitted_at {
    padding: 8px 16px 0;
    a {
      font-size: 0.9rem;
      @include link(darken(#98b4ff, 10%));
    }
  }
  &__comment_body {
    border-bottom: 1px solid #cccccc;
    padding: 12px 16px;
    margin: 12px 0 0;
  }
  &__comment_text {
  }
  &__comment_image {
    width: 100%;
    padding: 16px;
    max-height: 200px;
    img {
      margin: 0 auto;
      display: block;
      object-fit: cover;
    }
  }
  &__teacher_name {
    text-align: right;
  }
}
