.comment_area {
  border: 1px solid #999999;
  margin-bottom: 80px;
  &__header {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    background-color: #eeeeee;
    padding: 0 16px;
  }
  &__container {
    padding: 8px 0 0;
  }
  &__submitted_at {
    padding: 12px 16px;
    a {
      font-size: 0.9rem;
      @include link(darken(#98b4ff, 10%));
    }
  }
  &__comment_body {
    border-bottom: 1px solid #cccccc;
    padding: 12px 16px;
  }
  &__comment_text {
    padding-bottom: 12px;
  }
  &__comment_image {
    width: 100%;
    padding: 16px;
    max-height: 200px;
    img {
      margin: 0 auto;
      display: block;
      object-fit: cover;
    }
  }
  &__bottom {
    width: 100%;
    border-top: 1px solid #cccccc;
    margin-top: 8px;
    padding: 12px 0 0;
    color: #777777;
    font-size: 14px;
    line-height: 18px;
  }
  &__commented_at {
    display: inline-block;
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1px solid #777777;
  }
  &__teacher_name {
    display: inline-block;
  }
}
