.user_footer {
  padding: 8px 24px;
  border-top: 1px gray solid;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $white;
  &__ele a {
    text-decoration: none;
    color: black;
    opacity: 1;
    &:hover {
      text-decoration: none;
      color: black;
      opacity: 1;
    }
  }
  &__ele_text {
    text-align: center;
  }
}

.copyright {
  bottom: 5px;
  text-align: right;
  width: 100vw;
}
