.lessons_tab {
  background-color: #dddddd;
  border-bottom: 2px solid $pink_2;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  &_inner {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
  &_items {
    a {
      color: #ffffff;
      letter-spacing: 2px;
      font-weight: 600;
      font-size: 1.2em;
      &:link, :visited, :hover, :active {
        color: $black;
        @include link($black);
      }
    }
  }
  &_item {
    padding: 12px 0;
    border-right: 1px solid #aaaaaa;
    display: block;
    transition: 0.5s;
    cursor: pointer;
    &:first-child {
      border-left: 1px solid #aaaaaa;
    }
    &:hover {
      &:hover {
        background-color: lighten(#aaaaaa, 5%);
      }
    }
  }
  .active {
    background-color: $pink_3;
    &:hover {
      background-color: lighten($pink_3, 5%);
    }
    a {
      color: $pink_0;
    }
  }
}
