.main-contain{
  margin-top: 10px;
  &_row{
    &_book{
      padding: 0px;
    }
  }
}
.index-lists{
  padding: 0;
  &_list{
    position:relative;
    background-color: $gray;
    border-radius: 5px;
    margin: 1px;
    border: 1px solid $black;
    line-height: 6vh;
    text-align: center;
    @include size-color-bold(2.5vmin,$black);
    height: 6vh;
    cursor: pointer;
  }
  &_list-book{
    height: calc(12vh + 1px);
    line-height: calc(6vh + 1px);
    margin: 1px;
  }
}
.icon{
  position: absolute;
  top:   8px;
  right: 8px;
}