.user_question_row {
  display: block;
  display: flex;
  box-shadow: 0 1px $gray;
  padding: 16px 8px;
  height: 272px;
  overflow: hidden;
  &__image_content {
    width: 30vw;
    background-color: $white;
    overflow: hidden;
  }
  &__description {
    margin-left: 16px;
  }
  &__num {
    font-size: 16px;
  }
  &__title {
    font-size: 48px;
  }
  &__text {
    font-size: 24px;
  }
}

.question_infos {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
}
.question_info {
  margin: 24px 0;
  &__link {
    border: 1px solid $black;
    width: 33%;
    text-decoration: none;
    color: $black;
    &:hover {
      text-decoration: none;
      color: $black;
      opacity: 0.4;
    }
  }
  &__title {
    padding: 8px;
  }
  &__text {
    padding: 8px;
  }
  &__display_order {
    padding: 8px;
  }
  &__image {
    height: 300px;
    width: 200px;
  }
}
