.breadcrumbs{
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  font-size: 18px;
}

.question-text{
  font-size: 18px;
}

.questions{
  width: 100vw;
  margin: 0 !important;
}

.question-card{
  margin-bottom: 40px;
}