.answer_groups {
  max-width: 1200px;
  border-right: 1px blue solid;
  overflow: scroll;
  height: 100vh;
}
.answer_group {
  display: flex;
  padding: 16px;
  border-bottom: blue 1px solid;
  &__text {
    width: 20%;
    margin-right: 24px;
    min-width: 160px;
  }
  &__images {
    width: 60%;
    min-width: 600px;
    max-width: 720px;
    border: 1px pink solid;
  }
  &__image {
    width: 100%;
  }
}
.answer_check_form {
  min-width: 240px;
}
