.user_form {
  display: flex;
  justify-content: center;
  align-items: center;
  & form {
    width: 80%;
  }
  &__label_and_input {
    & label {
      margin-bottom: 8px;
      display: block;
      &.required:after {
        content: "*";
        padding-left: 2px;
        color: $red;
      }
    }
    & input {
      width: 80%;
      height: 32px;
      margin-bottom: 15px;
      border: 1px solid #999;
    }
    &--checkbox {
    }
  }
  &__datetime_select {
    & input {
      width: 160px;
      height: 32px;
      font-size: 16px;
      margin-bottom: 15px;
      border: 1px solid #999;
    }
    & select {
      height: 32px;
      font-size: 16px;
      background-color: white;
    }
    & label {
      display: inline;
    }
  }
  &__submit_btn {
    width: 80%;
    height: 40px;
    border: solid 1px $gray;
    background-color: $btn_blue;
    color: $white;
    margin-top: 16px;
  }
}
.user_form_session {
  margin: 0 auto;
  background-color: #eeeeee;
  padding: 40px 20px;
  height: 100%;
  &__title {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: #777777;
    span {
      display: inline-block;
    }
  }
  &__logo {
    height: 40px;
    img {
      margin: 0 auto;
      display: block;
      height: 100%;
    }
  }
  &__container {
    margin: 28px auto;
    padding: 20px 12px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 4px;
    max-width: 400px;
  }
  &__label_and_input {
    width: 100%;
    & label {
      font-size: 1rem;
      font-weight: 600;
      margin: 12px 0 8px;
      &.required:after {
        content: "*";
        padding-left: 2px;
        color: $pink_1;
      }
    }
    & input {
      width: 100%;
      height: 40px;
      padding: 0 8px;
      border: 1px solid #999;
      border-radius: 4px;
    }
    &--checkbox {
      margin: 20px 0;
      display: block;
      position: relative;
      padding-left: 28px;
      margin-bottom: 20px;
      & input {
        display: none;
      }
      & label {
        margin: 0;
      }
      input[type="checkbox"] + label:before {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid $light-gray;
        position: absolute;
        left: 0;
        top: 4px;
        -webkit-transition: all 0.12s, border-color 0.08s;
        transition: all 0.12s, border-color 0.08s;
      }
      input[type="checkbox"]:checked + label:before {
        width: 10px;
        top: -1px;
        left: 5px;
        border-radius: 0;
        border: 2px solid $pink_1;
        border-top-color: transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
  &__submit_btn {
    height: 36px;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    background-color: #999999;
    color: $white;
    margin-top: 12px;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    transition: 0.5s;
    &:hover {
      background-color: $pink_2;
    }
  }
  &__link {
    margin-top: 48px;
    font-size: 24px;
    text-align: right;
  }
}
