.u-line-height {
  &--1rem {
    line-height: 1rem;
  }
  &--2rem {
    line-height: 2rem;
  }
  &--3rem {
    line-height: 3rem;
  }
  &--4rem {
    line-height: 4rem;
  }
  &--5rem {
    height: 5rem;
  }
}
