= render 'shared/lesson_title'
.pr16.pl16.mt24
  - if @questions&.length == 0
    .mt24 現在、設定されている課題はありません。
  - else
    - @questions&.each do |question|
      = render 'question_card_to_judge', question: question
