.flex-sparo
  .pt16=link_to '通常業務', regular_work_teacher_menus_path
  .pt16=link_to '校舎運営', school_building_manage_teacher_menus_path
  .pt16=link_to '校舎分析', school_building_analysis_teacher_menus_path
  .pt16=link_to '学校運営', school_manage_teacher_menus_path
