.teacher_top
  .teacher_top__to_check
    - if @lessons_to_check.present?
      .lessons_to_check
        .lessons_to_check__title 未チェックの課題があります！！
        .lessons_to_check__lessons
          - @lessons_to_check.each do |lesson|
            .lessons_to_check__lesson= link_to "#{ lesson.lesson_group.name }/#{ lesson.name }(#{ lesson.checking_count }件)", checking_teacher_lesson_answer_checks_path(lesson_id: lesson.id)


