!!!
%html
  =render 'layouts/application_head'
  %head
    = stylesheet_link_tag 'teacher', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .teacher_main
      =render 'layouts/notification'
      .flex
        =render 'teacher/shared/side'
        .div
          = yield
