!!!
%html
  =render 'layouts/application_head'
  %head
    = stylesheet_link_tag 'teacher', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .teacher_main
      =render 'layouts/notification'
      =render 'teacher/shared/header'
      = yield
