- content_for(:back_path, mypage_users_path)
.o-profile.pb24
  .o-profile__head
    .m-heading-line
      .m-heading-line__text.flex-spbet-end
        %h1.a-text-secondary.a-text-xlarge 学校選択
.pr8.pl8
  - @school_users.each do |school_user|
    .flex-spbet.mb24
      .mr8= school_user.school.name
      .ml8
        - if school_user.school == current_school
          %span 現在の学校
        - elsif school_user.activated?
          = link_to '切り替え', select_school_school_user_path(school_user), method: :post
        - elsif false #入学拒否の場合の処理いれるかも
          %span.a-text-error 入学拒否
        - else
          %span 許可待ち
%hr

.flex-cen
  .u-width-80-per
    .mt16= link_to '入学リクエスト', new_join_request_path, class: 'a-button-primary'

