@import './reset';
@import "bootstrap";
@import "./mixin/mixin";
@import './shared/header';
@import './config/color';
@import './modules/lists';
@import './modules/section_show';
@import './config/jquery';
@import './vendor/animate.min';
@import './vendor/fib';
@import "font-awesome";
.image-tag{
  width: 100%;
}
.book-image-icon{
  position: absolute;
  right: 39%;
  bottom: 25%;
}
.book-image{
  width: 100px;
  height: 100px;
}
.book-image-index{
  width: 100%;
}
