<%=render "shared/header"%>
<%= link_to 'ユーザー作成・編集', new_admin_user_path, method: :get, class: "nav-link f header-menu_list_a" %>
<table class="table">
  <thead class="table__head">
    <tr>
      <th class="table__head__name">名前</th>
      <th  class="table__head__login_id">ログインID</th>
      <th class="table__head__password">パスワード</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="table__body">
    <%@users.each do |user| %>
      <tr>
        <td class="table__body__name">
          <%=user.name%>
        </td>
        <td class="table__body__login_id">
          <%=user.login_id%>
        </td>
        <td class="table__body__password">
          非表示
        </td>
        <td>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
