.flex
  .div
    - if @lesson_groups.size > 0
      .mt56.ml24 担当授業の講座一覧
      %table.o-table-simple.mr40
        %thead.o-table-simple__thead
          %th.o-table-simple__th 対象学年
          %th.o-table-simple__th 校舎名
          %th.o-table-simple__th 講座名
          %th.o-table-simple__th
        - @lesson_groups.each do |lesson_group|
          %tr.o-table-simple__tr
            %td.o-table-simple__td= lesson_group.decorate.target_school_grade
            %td.o-table-simple__td= lesson_group.school_building.name
            %td.o-table-simple__td= lesson_group.name
            %td.o-table-simple__td= link_to '授業一覧', lessons_show_teacher_answer_check_path(lesson_group), remote: true

  #js-lessons_table
