.pb0 {
  padding-bottom: 0 !important;
}
.pb8 {
  padding-bottom: 8px !important;
}
.pb16 {
  padding-bottom: 16px !important;
}
.pb24 {
  padding-bottom: 24px !important;
}
.pb32 {
  padding-bottom: 32px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb48 {
  padding-bottom: 48px !important;
}
.pb56 {
  padding-bottom: 56px !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pr8 {
  padding-right: 8px !important;
}
.pr16 {
  padding-right: 16px !important;
}
.pr24 {
  padding-right: 24px !important;
}
.pr32 {
  padding-right: 32px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr48 {
  padding-right: 48px !important;
}
.pr56 {
  padding-right: 56px !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pl8 {
  padding-left: 8px !important;
}
.pl16 {
  padding-left: 16px !important;
}
.pl24 {
  padding-left: 24px !important;
}
.pl32 {
  padding-left: 32px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl48 {
  padding-left: 48px !important;
}
.pl56 {
  padding-left: 56px !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pt8 {
  padding-top: 8px !important;
}
.pt16 {
  padding-top: 16px !important;
}
.pt24 {
  padding-top: 24px !important;
}
.pt32 {
  padding-top: 32px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt48 {
  padding-top: 48px !important;
}
.pt56 {
  padding-top: 56px !important;
}
