.header_for_user.mb24.mt8
  .admin_user_link.flex.flex-sparo
    = link_to '管理トップ画面', '#'
    = link_to '学校一覧画面', '#'
    = link_to '管理者作成', new_admin_admin_path
    = link_to '管理者ログイン', admin_login_path
