.user_form
  = form_with model: [:teacher, current_teacher_school], local: true do |f|
    =render 'shared/error_messages', model_object: current_teacher_school
    .user_form__label_and_input
      = f.label :name, class: 'required'
      = f.text_field :name
    = f.submit '更新する', class: 'user_form__submit_btn'
