html {
  height: 100%;
}
body {
  font-family: "Open Sans", "M PLUS 1p", sans-serif;
  color: $moss_0;
  height: 100%;
}
.user_main_simple {
  background-color: $white_green;
  min-height: 100vh;
}
.user_main_with_header {
  background-color: $white_green;
  height: 100vh;
}
.user_main_with_footer {
  background-color: $white_green;
  height: calc(100% - 2rem);
  overflow: scroll;
}
